- if controller_name != 'sessions'
  .text-center
    = link_to "Log in", new_session_path(resource_name), class: 'small'
- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  .text-center
    = link_to I18n.t('forgot_your_password'), new_password_path(resource_name), class: 'small'