.p-3.rounded-3.home-container
  .container-fluid.py-5.text-dark
    %h1.display-5.fw-bold Book Reservation Online
    %p.col-md-8.fs-4 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book