@import '~bootstrap/scss/bootstrap';
@import 'toastr';

$theme-color: #0c63e4;

.text-theme {
  color: $theme-color
}

.user-profile-logo {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  background-color: $theme-color;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.table-top {
  background-color: $theme-color;
  color: white;
}

.table td,
.table th {
  max-width: 20ch;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.break-text {
  white-space: nowrap;
}

.w-th {
  width: 15%;
}

.custom-control-label {
  padding-top: 2px;
}

.home-container {
  background-image: url('/assets/image-home.jpg');
  background-size: cover;
}

.flag-language img {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.box-breadcrumb {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
  height: 40px;
}

.btn-theme {
  background-color: $theme-color;
  color: white;
}

.btn-theme:hover {
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
}

.btn-csv {
  background-color: gray;
  color: white;
}

.btn-csv:hover {
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
}

.sign-in-box {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px dashed $theme-color;

  div {
    font-weight: 700;
    font-size: 2.5rem;
    color: #3a3b45;
  }
}

.error_container {
  background-color: #fadfe0;
  border-radius: 1rem;
  padding: 15px;
}