@import '~bootstrap/scss/bootstrap';
@import 'toastr';

.user-profile-logo {
	border-radius: 50%;
	height: 2rem;
	width: 2rem;
	background-color: #0c63e4;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.table-top {
	background-color: #0c63e4;
	color: white;
}

.table td {
	word-break: break-word;
}